.game-header {
  padding: 40px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff50;
}

.new-game-button {
  margin-left: 50%;
  cursor: pointer;
  position: relative;
  width: 305px;
  height: 50px;
  background-color: #fff0;
  color: #fff;
  font-size: 22px;
  border: 1px solid #ffffff50;
  border-radius: 5px;
  transition: .3s;
  
  &:hover {
    transform: scale(1.00);
    transition: .3s;  
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background-color: #72e58a47;
    border: 1px solid #72e58a;
    border-radius: 5px;
    transition: width .5s, opacity .4s;
    opacity: 0;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.game-throws {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff50;
}

.throw-container {
  display: flex;
}

.throw-column {
  width: 10%;
  padding: 42px 0px 10px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.player-name {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.throw-table {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-table {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.throw-info {
  display: flex;
  align-items: center;
}

.throw-number {
  font-weight: 400;
}

.players-throws {
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.throw-input {
  width: 65px;
  height: 34px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
  font-size: 20px;
  border: 1px solid #fff;

  &:focus {
    outline: none;
  }
}

.rounded {
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.multiply-button {
  cursor: pointer;
  padding: 0 7px 0 7px;
  height: 36px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border: 1px solid #ffffff50;
  background-color: #fff0;
  transition: .3s;


  &:hover {
    transition: .3s;
    border: 1px solid #72e58be3; 
  }
}

.add-step-button {
  cursor: pointer;
  margin: 30px auto 0px;
  width: 500px;
  height: 50px;
  position: relative;
  background-color: #fff0;
  color: #fff;
  font-size: 22px;
  border: 1px solid #ffffff50;
  border-radius: 5px;
  transition: .3s;
  
  &:hover {
    transform: scale(1.00);
    transition: .3s;  
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background-color: #72e58a47;
    border: 1px solid #72e58a;
    border-radius: 5px;
    transition: width .5s, opacity .4s;
    opacity: 0;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.game-score {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players-names {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.score-field {
  margin-top: 15px;
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #ffffff50;
  border-bottom: none;
  overflow: hidden;
}

.init {
  filter: opacity(0.5);
}

.step-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ffffff50;
  background-color: rgb(0 0 0 / 25%);
  height: 40px;
}

.step {
  left: 8%;
  position: absolute;
}

.score, .name {
  text-align: center;
  width: 33%;
}

.info {
  cursor: pointer;
  right: 8%;
  position: absolute;
}

.error-message {
  padding-top: 85px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-variant: all-petite-caps;
  color: #e25f4e;
}

.back-button {
  cursor: pointer;
  margin: 30px auto 0px;
  width: 500px;
  height: 50px;
  position: relative;
  background-color: #fff0;
  color: #fff;
  font-size: 22px;
  border: 1px solid #ffffff50;
  border-radius: 5px;
  transition: .3s;
  
  &:hover {
    transform: scale(1.00);
    transition: .3s;  
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background-color: #72e58a47;
    border: 1px solid #72e58a;
    border-radius: 5px;
    transition: width .5s, opacity .4s;
    opacity: 0;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.is-invalid {
  border: 1px solid #ff6f5c;
  background-color: #ff6f5c0c;
  transition: 0.3s;
}

.selected {
  background-color: #72e58a47;
  border: 1px solid #72e58a;
  transition: 0.3s;
}