<div class="main">
  <div class="game" *ngIf="players.length >= 2">
    <div class="game-header">
      <app-logo class="logo"></app-logo>
      <button class="new-game-button" routerLink="/options">New game</button>
    </div>
    <div class="game-throws">
      <div class="throw-container">
        <div class="throw-column">
          <span class="throw-number light-font" *ngFor="let throw of throwsNumber">Dart {{throw}}</span>
        </div>
        <div class="players-throws" *ngIf="players">
          <div class="player-table" *ngFor="let player of players">
            <span class="player-name light-font">{{ player.name }}</span>
            <div class="throw-table">
              <div class="throw-info" *ngFor="let throw of scoreForm.controls[player.name].controls; let throwIndex = index">
                <input type="text" class="throw-input" [formControl]="throw.controls['points']" [class.is-invalid]="isFormValid(player.name, throwIndex, 'points')">
                <label 
                class="multiply-button" 
                for="{{multiply + player.name + throwIndex}}" 
                *ngFor="let multiply of possibleMultiplies" 
                [ngClass]="{'rounded': multiply === 3, 'selected': throw.controls['multiply'].value === multiply}"
                [class.is-invalid]="isFormValid(player.name, throwIndex, 'multiply')"
                >
                  <input 
                    style="display: none" 
                    [formControl]="throw.controls['multiply']" 
                    type="radio" 
                    id="{{multiply + player.name + throwIndex}}" 
                    name="{{player.name + throwIndex + ' multiply'}}" 
                    [value]="multiply"
                  >
                  <span>{{ 'X' + multiply }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="add-step-button" (click)="getPoints()">Add</button>  
    </div>
    <div class="game-score" *ngIf="players">
      <div class="players-names">
        <span class="name" *ngFor="let player of players">{{ player.name }}</span>
      </div>
      <div class="score-field" *ngIf="gameHistory">
        <div class="step-score init">
          <span class="score" *ngFor="let player of players">{{startedScore}}</span>
        </div>
        <div class="step-score" *ngFor="let step of gameHistory; let i = index">
          <span class="step">{{ i | stepCounter}}</span>
          <span class="score" *ngFor="let player of players">{{ step[player.name] }}</span>
          <img class="info" src="../../../assets/info-icon.svg" />
        </div>
      </div>
    </div>
  </div>
  <app-popup *ngIf="winner"></app-popup>
</div>
