<div class="main">
  <app-logo class="logo"></app-logo>
  <div class="options-container">
    <span class="message light-font">Select players</span>
    <div class="players-options">
      <div class="search-container">
        <input class="search" type="text" placeholder="Search" [formControl]="findControl!">
        <button class="search-button"><img src="../../../assets/search-icon.svg"></button>
      </div>
      <button class="add-button" routerLink="/addplayer">New Player</button>
    </div>
    <ul class="players-list" *ngIf="players">
      <li class="player-info"  *ngFor="let player of players; let i = index">
        <span class="palyer-name">{{ player.name }}</span>
        <span class="palyer-email">{{ player.email }}</span>
        <button class="cross-button" (click)="removePlayer(i)">✖</button>
      </li>
    </ul>
    <span class="message light-font">Choose game</span>
    <div class="game-mode-container">
      <button class="mode-button" *ngFor="let mode of gameModes" (click)="selectedMode = mode" [ngClass]="selectedMode === mode ? 'active' : 'disabled'">
        <span class="mode-font">{{mode}}</span>
      </button>
    </div>
    <button class="start-button" routerLink="/game" [ngClass]="selectedMode ? 'active' : 'disabled'" [attr.disabled]="selectedMode ? null : true"> Start </button>
  </div>
</div>
