<div class="main">
  <app-logo></app-logo>
  <span class="message light-font">
    Add a new player to start the game
  </span>
  <form class="form-container" [formGroup]="playerDataControl!" (submit)="addPlayer()">
    <div class="form-info">
      <label class="input-label light-font">
        Nickname
      </label>
      <span class="error-message" *ngIf="isControlInvalid('name')">
        {{ getErrorMessage('name') }}
      </span>
    </div>
    <input type="text" class="input-form" formControlName="name" [ngClass]="isControlInvalid('name') ? 'invalid' : 'valid'">
    <div class="form-info">
      <label class="input-label light-font">
        e-mail
      </label>
      <span class="error-message" *ngIf="isControlInvalid('email')">
        {{ getErrorMessage('email') }}
      </span>
    </div>
    <input type="text" class="input-form" formControlName="email" [ngClass]="isControlInvalid('email') ? 'invalid' : 'valid'">
    <button  class="submit-button" type="submit">Add</button>
  </form>
</div>
