:host {
  height: 100vh;
  width: 100vw;
  background-color: #000b;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: .3s;
  z-index: 5;
}

.popup {
  width: 50vw;
  height: 50vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../../assets/background.jpg);
  background-size: 100%;
  border-radius: 5px;
  z-index: 3;
  font-size: 40px;
}

.back-link {
  cursor: pointer;
  margin: 30px auto 0px;
  width: 500px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff0;
  color: #fff;
  font-size: 22px;
  border: 1px solid #ffffff50;
  border-radius: 5px;
  transition: .3s;
  
  &:hover {
    transform: scale(1.00);
    transition: .3s;  
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background-color: #72e58a47;
    border: 1px solid #72e58a;
    border-radius: 5px;
    transition: width .5s, opacity .4s;
    opacity: 0;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}
