<app-logo></app-logo>
<span class="message light-font">
  Add a new player to start the game
</span>
<form class="form-container" [formGroup]="playerDataForm" (submit)="addPlayer()">
  <div class="form-info">
    <label for="name" class="input-label light-font">
      Nickname
    </label>
    <span class="error-message" *ngIf="playerDataForm.controls['name'].invalid && playerDataForm.controls['name'].touched">
      {{ getErrorMessage('name') }}
    </span>
  </div>
  <input 
  type="text" 
  id="name" 
  class="input-form" 
  formControlName="name">
  <div class="form-info">
    <label for="email" class="input-label light-font">
      e-mail
    </label>
    <span class="error-message" *ngIf="playerDataForm.controls['email'].invalid && playerDataForm.controls['email'].touched">
      {{ getErrorMessage('email') }}
    </span>
  </div>
  <input type="text" id="email" class="input-form" formControlName="email">
  <button  class="submit-button" type="submit">Add</button>
</form>
