<div class="main">
  <div class="logo">
    <h1>
      COUNT YOUR
      <span class="bold_font">POINTS</span>
    </h1>
    <span class="copyright">© SoftClub edition</span>
  </div>
  <span class="message">
    Add a new player to start the game
  </span>
  <form class="form_container" [formGroup]="playerDataControl!" (submit)="addPlayer()">
    <label class="input_label">
      Nickname
    </label>
    <input type="text" class="input_form" formControlName="name" [ngClass]="isControlInvalid('name')">
    <label class="input_label">
      e-mail
    </label>
    <input type="text" class="input_form" formControlName="email" [ngClass]="isControlInvalid('email')">
    <button  class="submit_button" type="submit">Add</button>
  </form>
</div>

<router-outlet></router-outlet>
