:host {
  width: 215px;
  display: flex;
  flex-direction: column;
  line-height: 36px;
}

.bold-font {
  font-size: 60px;
  font-weight: bold;
}

.copyright {
  line-height: 20px;
  text-align: right;
  font-weight: 400;
}